body {
  background-color: rgb(227, 235, 238);
}

:root {
  --brand-color: orange;
}

.text {
  font-size: 20px;
}
.first {
  color: red;
}

.second {
  color: blue;
}

.third {
  color: green;
}

.link {
  color: blue;
}

.link:hover {
  color: red;
}
.link:focus {
  color: yellow;
}

/* .link:visited {
  color: purple;
} */

.table {
  background-color: rgb(219, 199, 199);
}

.table-row:hover {
  background-color: tomato;
  color: white;
  cursor: help;
}
.div {
  color: aqua;
}
.div-link {
  color: var(--brand-color);
}

.title.headline {
  font-family: cursive;
  color: red;
}

.headline {
  font-family: sans-serif;
  color: yellow;
}
.title {
  font-family: serif;
  color: blue;
}
